/* grids debug */
.line{background-color:#e2e2e2;}
.size1of1{background-color:pink;}
.size1of2{background-color:red;}
.size1of3{background-color:orange;}
.size2of3{background-color: yellow;}
.size1of4{background-color:lime;}
.size3of4{background-color:green;}
.size1of5{background-color:aqua;}
.size2of5{background-color:blue;}
.size3of5{background-color:purple;}
.size4of5{background-color:magenta;}