/* debug modules */
.top, .bottom{background-color:#e2e2e2;}
.tl{background-color:red;}
.tr{background-color:orange;}
.bl{background-color:yellow;}
.br{background-color:lime;}
/*.hd{background-color: green;}
.bd{background-color: teal;}
.ft{background-color: blue;}*/
.mod{background-color:purple;}
.inner{background-color:magenta;}
