/* thierry's method for embedding video w out it blowing up the page */
/* line 2, ../video.scss */
.videoWrapper {
  position: relative;
  height: 0;
}

/* line 6, ../video.scss */
* html .videoWrapper {
  margin-bottom: 45px;
  margin-bot\tom: 0;
}

/* line 11, ../video.scss */
.videoWrapper div, .videoWrapper embed, .videoWrapper object, .videoWrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* line 19, ../video.scss */
.imgWrap img {
  max-width: 100%;
}

/* line 22, ../video.scss */
.wideScreen {
  padding-bottom: 56.25%;
}

/* line 23, ../video.scss */
.fourBYthree {
  padding-bottom: 75%;
}

/* line 24, ../video.scss */
.chrome_25 {
  padding-top: 25px;
}

/* line 25, ../video.scss */
.chrome_35 {
  padding-top: 35px;
}
