<!DOCTYPE html>
<html class="noJS">

<head>
  {{!include "../includes/_headTemplate.handlebars"}}
</head>

<body>

  {{!include "../includes/_header.handlebars"}}

<div class="content">
  <div class="container">
    <div class="contentInner">
      <aside class="aside" role="complementary">
        <p>aside</p>
      </aside>

      <div class="main" role="main" id="main">
        <p>main</p>
      </div>
      <!-- //main -->
    </div>
  </div>
</div>
<!-- //content -->

  {{!include "../includes/_footer.handlebars"}}

</body>
</html>
