<div class="data">
  <table class="table {{className}}">
    <thead>
    <tr>
      <th style="width:30%">Header 1</th>
      <th class="txtC" style="width:20%">Header 2</th>
      <th class="txtR" style="width:20%">Header 3</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Text align left by default</td>
      <td class="txtC">Text align center</td>
      <td class="txtR">Text align right</td>
    </tr>
    <tr>
      <td>Text align left by default</td>
      <td class="txtC">Text align center</td>
      <td class="txtR">Text align right</td>
    </tr>
    </tbody>
  </table>
</div>