@mixin listStandard {
    /*
     * [from normalize.css] Addresses paddings set differently in IE 6/7.
     */
    ul.listStandard,
    ol.listStandard {
        padding: 0 0 0 40px;
    }

    ul.listStandard {
        list-style-type: disc;
    }

    ol.listStandard {
        list-style-type: decimal;
    }
}