/* ----- flow (extends complex) ----- */
.flow{margin:6px;}
.flow b{background-image:url(img/even.png);}
.flow .inner{padding:0 4px;}
.flow .top{height:4px;}
.flow .bottom{height:4px;margin-top:-4px;}
.flow .br,.flow .bl{margin-top:-6px;}/* margin top = bottom height - corner height */