<div class="mod {{skin-name}}"> 
    <b class="top"><b class="tl"></b><b class="tr"></b></b> 
    <div class="inner">
        <div class="hd">
            <h3>{{title}}</h3>
        </div>
        <div class="bd">
            <p>{{body}}</p>
        </div>
    </div>
    <b class="bottom"><b class="bl"></b><b class="br"></b></b> 
</div>