/* **************** BLOCK SKINS ***************** */
/* ====== Contour blocks ====== */
/* remove background-image:" to default to square corners for IE */
/* ----- extends mod ----- */
@import url(skins/simple/simple_skin.css);
@import url(skins/basic/basic_skin.css);
@import url(skins/simpleExt/simpleExt_skin.css);
@import url(skins/me/me_skin.css);
@import url(skins/noted/noted_skin.css);
@import url(skins/grab/grab_skin.css);
@import url(skins/faq/faq_skin.css);
@import url(skins/onlinestore/onlinestore_skin.css);
@import url(skins/about/about_skin.css);
@import url(skins/talk/talk_skin.css);
/* ----- extends complex ----- */
@import url(skins/photo/photo_skin.css);
@import url(skins/flow/flow_skin.css);
@import url(skins/excerpt/excerpt_skin.css);
@import url(skins/sommers/sommers_skin.css);
/* ----- extends pop ----- */
@import url(skins/gonzalo/gonzalo_skin.css);

/* ====== Background blocks ====== */
@import url(skins/universe/universe_skin.css);
@import url(skins/foo/foo_skin.css);
@import url(skins/login/login_skin.css);

/* ====== Block headers and footers ====== */
@import url(skins/section/section_skin.css);
@import url(skins/topper/topper_skin.css);
@import url(skins/bam/bam_skin.css);
@import url(skins/info/info_skin.css);
@import url(skins/online/online_skin.css);
@import url(skins/help/help_skin.css);
@import url(skins/gonz/gonz_skin.css);

/* ====== Contour blocks ====== */
/* ----- shadow test (experimental attempt to match "flow" cross browser w no img)----- */
.boo{-webkit-box-shadow: 0px 0px 1px rgba(0,0,0,33);-moz-box-shadow: black 2px 2px 2px 2px;/*-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;*/border:solid 1px #949494;background:#fff;}

/* ====== Background blocks ====== */
.sale .inner{background:red none;}
.nicole .inner{background:#c01c41 none; color:#fff;}
.nicole *, .login *{ color:#fff;}
.highlight .inner{background:#e3e36f none;}
.comment .inner{background:#e2e2e2 none;}

/* ====== Block headers and footers ====== */
/*.hd h1, .hd h2, .hd h3, .hd h4, .hd h5, .hd h6{padding: 5px 10px;}*/
.act{background-color:#e9e9e9;}


