/* **************** BLOCK SKINS ***************** */
/* ====== Contour blocks ====== */
/* remove background-image:" to default to square corners for IE */
/* ----- simple (extends mod) ----- */
.oo-simple .oo-inner {border:1px solid #D7D7D7;-moz-border-radius: 7px;-webkit-border-radius: 7px;border-radius: 7px;}
.oo-simple b{*background-image:url(skin/simple_corners.oo-png);}
/* ----- basic (extends mod) ----- */
.oo-basic .oo-inner {-moz-border-radius: 7px;-webkit-border-radius: 7px;border-radius: 7px;}
.oo-basic b{*background-image:url(skin/round.oo-png);}
/* ----- simpleExt (extends mod) ----- */
.oo-simpleExt,.simpleExt .oo-inner{border:1px solid #c7c7c7;-moz-border-radius: 7px;-webkit-border-radius: 7px;border-radius: 7px; }
.oo-simpleExt .oo-inner{border-color:#fff; border-width:4px; background-color:#e2e2e2;}
.oo-simpleExt b{*background-image:url(skin/simple_extended2.png);}
.oo-simpleExt .oo-tl{left:-1px;top:-1px;height:12px; width:12px;}
.oo-simpleExt .oo-tr{right:-1px;top:-1px;height:12px; width:12px;*position: absolute}
.oo-simpleExt .oo-bl{left:-1px;bottom:-1px;height:12px; width:12px;margin-top:-12px;}
.oo-simpleExt .oo-br{right:-1px;bottom:-1px;height:12px; width:12px;margin-top:-12px;}
/* ----- me (extends mod) use for my comments ----- */
.oo-me,.oo-me .oo-inner{border:1px solid #909090;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.oo-me .oo-inner{border-color:#d76a84;}
.oo-me b{*background-image:url(skin/me.oo-png);}
.oo-me .oo-tl{left:-1px;top:-1px;}
.oo-me .oo-tr{right:-1px;top:-1px;}
.oo-me .oo-bl{left:-1px;bottom:-1px;}
.oo-me .oo-br{right:-1px;bottom:-1px;}
/* ----- noted (extends mod) ----- */
.oo-noted,.noted .oo-inner{border:1px solid #c2c2c2;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.oo-noted .oo-inner{border-color:#eded68;}
.oo-noted b{*background-image:url(skin/noted.oo-png);}
.oo-noted .oo-tl{left:-1px;top:-1px;}
.oo-noted .oo-tr{right:-1px;top:-1px;}
.oo-noted .oo-bl{left:-1px;bottom:-1px;}
.oo-noted .oo-br{right:-1px;bottom:-1px;}
/* ----- grab (extends mod) ----- */
.oo-grab .oo-inner{border: 3px solid #00477a; border-bottom-width:10px;}/* can't be done w border radius */
.oo-grab b{background-image:url(skin/grab.oo-png);}
/*.grab .oo-tl, .oo-grab .oo-tr{height:10px; width:10px;}*/
.oo-grab .oo-bl, .oo-grab .oo-br{height:16px;/*if height is set, margin set*/margin-top:-16px;}
/* ----- faq (extends mod) ----- */
.oo-faq .oo-inner{border: 3px solid #b20029; border-bottom-width:10px;}/* can't be done w border radius */
.oo-faq b{background-image:url(skin/faq.oo-png);}
.oo-faq .oo-bl, .oo-faq .oo-br{height:16px;/*if height is set, margin set*/margin-top:-16px;}
/* ----- onlinestore (extends mod) ----- */
.oo-onlinestore .oo-inner{border: 3px solid #9a9800; border-bottom-width:10px;}/* can't be done w border radius */
.oo-onlinestore b{background-image:url(skin/store.oo-png);}
.oo-onlinestore .oo-bl, .oo-onlinestore .oo-br{height:16px;/*if height is set, margin set*/margin-top:-16px;}
/* ----- about (extends mod) ----- */
.oo-about .oo-inner{border: 3px solid #494949; border-bottom-width:10px;}/* can't be done w border radius */
.oo-about b{background-image:url(skin/about.oo-png);}
.oo-about .oo-bl, .oo-about .oo-br{height:16px;/*if height is set, margin set*/margin-top:-16px;}
/* ----- talk (extends mod) ----- */
.oo-talk,.talk .oo-inner{border:1px solid #c7c7c7;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.oo-talk .oo-inner{border-color:#ededed;}
.oo-talk b{*background-image:url(skin/talk.oo-png);}
.oo-talk .oo-tl{left:-1px;top:-1px;}
.oo-talk .oo-tr{right:-1px;top:-1px;}
.oo-talk .oo-bl{left:-1px;bottom:-1px;}
.oo-talk .oo-br{right:-1px;bottom:-1px;}
/* ----- photo (extends complex) ----- */
.oo-photo .oo-inner{border:solid 10px #fff;margin:0 4px;}/* muck with margins to change how the block will align with other blocks, any value between 0-10px */
.oo-photo b{background-image:url(skin/photo.oo-png);}
.oo-photo .oo-tr, .oo-photo .oo-tl{width:20px;}
.oo-photo .oo-top, .oo-photo .oo-bottom{height:4px;margin-top:0px;}
.oo-photo .oo-bl, .oo-photo .oo-br{height:16px;margin-top: -12px;}
/* ----- flow (extends complex) ----- */
.oo-flow{margin:6px;}
.oo-flow b{background-image:url(skin/even.oo-png);}
.oo-flow .oo-inner{padding:0 4px;}
.oo-flow .oo-top{height:4px;}
.oo-flow .oo-bottom{height:4px;margin-top:-4px;}
.oo-flow .oo-br,.flow .oo-bl{margin-top:-6px;}/* margin top = bottom height - corner height */
/* ----- shadow test (experimental attempt to match "flow" cross browser w no img)----- */
.oo-boo{-webkit-box-shadow: 0px 0px 1px rgba(0,0,0,33);-moz-box-shadow: black 2px 2px 2px 2px;/*-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;*/border:solid 1px #949494;background:#fff;}
/* ----- .oo-excerpt (extends complex) ----- */
.oo-excerpt b{background-image:url(skin/excerpt.oo-png);}
.oo-excerpt .oo-top{height:1px;}
.oo-excerpt .oo-bottom{height:6px;margin-top:-6px;}/* margin top equal to - height of bottom */
.oo-excerpt .oo-br,.excerpt .oo-bl{height:12px;margin-top:-6px;}/* margin top = bottom height - corner height */
/* ----- sommers (extends pop) ----- */
.oo-sommers .oo-inner{_border:3px solid #D7D7D7;}/*IE6 backup no alpha transparency */
.oo-sommers,.sommers .oo-inner,.sommers b{background-image:url(skin/glow_7px.oo-png);_background-image:none;}
.oo-sommers{margin:3px 20px 20px 3px;}
/* ----- gonzalo ----- */
.oo-gonzalo, .oo-gonzalo .oo-inner, .oo-gonzalo b{background-image:url(skin/gc.oo-png);}
/* ====== Background blocks ====== */
.oo-sale .oo-inner{background:red none;}
.oo-nicole .oo-inner{background:#c01c41 none; color:#fff;}
.oo-nicole *, .oo-login *{ color:#fff;}
.oo-highlight .oo-inner{background:#e3e36f none;}
.oo-universe .oo-inner{background:url(skin/universe.oo-png) repeat left top;}
.oo-foo .oo-inner{background: url(skin/universe_gray.oo-png) repeat left top;}
.oo-login .oo-inner{background: url(skin/universe_login.oo-png) repeat left top;}
.oo-comment .oo-inner{background:#e2e2e2 none;}
/* ====== Block headers and footers ====== */
/*.oo-hd h1, .oo-hd h2, .oo-hd h3, .oo-hd h4, .oo-hd h5, .oo-hd h6{padding: 5px 10px;}*/
.oo-section{background: #e9e9e9 url(skin/header.oo-png) repeat-x left bottom; color:#de2c72;font-size:120%;/*padding:5px 10px;*/}
.oo-section h1,.oo-section h2,.oo-section h3,.oo-section h4,.oo-section h5,.oo-section h6{font-size:100%;color:#de2c72;/*padding:0;*/}
.oo-act{background-color:#e9e9e9;}
.oo-topper{background: #fff url(skin/header_gradient_light.oo-png) repeat-x left bottom;color: #4D4D4D;font-size:120%;padding:5px 10px;}
.oo-topper h1,.oo-topper h2,.oo-topper h3,.oo-topper h4,.oo-topper h5,.oo-topper h6{font-size:100%;color:#4D4D4D;padding:0;}
.oo-tabPosLeft .oo-topper li,.oo-tabPosRight .oo-topper li{background: #fff url(skin/header_gradient_light.oo-png) repeat-x left bottom;/* belongs in topper */}
.oo-tabPosBottom .oo-topper{
  background-image:-webkit-gradient(linear, 0% 0%, 0% 40%, from(#E2E2E2), to(#FFFFFF));
  background-image:-moz-linear-gradient(0% 8% 270deg, #E2E2E2, #FFFFFF, #FFFFFF 77%);}
.oo-bam{background: #00477a url(skin/header_glossy.oo-png) repeat-x left top;color: #fff;font-size:120%;padding:5px 10px;}
.oo-bam h1,.oo-bam h2,.oo-bam h3,.oo-bam h4,.oo-bam h5,.oo-bam h6{font-size:100%;color:#fff;padding:0;}
.oo-gonz{background:url(skin/gc_header.oo-png) no-repeat left top;}/* messed up */
.oo-online{background: #9a9400 url(skin/online.oo-png) repeat-x left top;color: #000;font-size:120%;padding:5px 10px;}
.oo-online h1,.oo-online h2,.oo-online h3,.oo-online h4,.oo-online h5,.oo-online h6{font-size:100%;color:#000;padding:0;}
.oo-help{background: #b20029 url(skin/help.oo-png) repeat-x left top;color: #fff;font-size:120%;padding:5px 10px;}
.oo-help h1,.oo-help h2,.oo-help h3,.oo-help h4,.oo-help h5,.oo-help h6{font-size:100%;color:#fff;padding:0;}
.oo-info{background: #636363 url(skin/info.oo-png) repeat-x left top;color: #fff;font-size:120%;padding:5px 10px;}
.oo-info h1,.oo-info h2,.oo-info h3,.oo-info h4,.oo-info h5,.oo-info h6{font-size:100%;color:#fff;padding:0;}
