<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!-- JS detection -->
<script>(function (H) {
  H.className = H.className.replace(/\bnoJS\b/, 'js')
})(document.documentElement)</script>

<title>[Client name]</title>

<link rel="stylesheet" href="css/screen.css">

<!-- HTML5 shim: for screen and printing -->
<!--[if lt IE 9]>
<script src="libs/script/html5shiv-printshiv.js"></script>
<![endif]-->
