<h2 id="{{name}}" class="docH2">{{longname}}</h2>

<p>Caption Bubbles are usually used for captions and modal messages.</p>

<ul class="listComponent">
  {{#each skins}}
	<li>
	  {{{html}}}
	  {{{htmlcode}}}
	</li>
  {{/each}}
</ul>
