@import "compass/utilities/general/hacks"; 
@import "utils/clearfix-me";
@import "../variables";
@import "compass/css3";

$grids-debug: true;
$grids-debug-position: false;
//TODO: make params into variables instead, so they can easily be updated w out changing this file.
//TODO: Take different units into account, what if gutters are in rems? ems? percentage?
//TODO: test in IE6 :(
@mixin oogrids($cols: (2,3,4,5,6), $gutter: $gutters-h){ 
	$small-gutter: $gutter/3;
	$large-gutter: ($gutter/3)*2;
	
	/* ie 7 and earlier need percentage based gutters because they don't do border-box */
	$ie-percent-gutter: percentage($gutter/$page-width);
	$ie-small-gutter: $ie-percent-gutter/3;
	$ie-large-gutter: ($ie-percent-gutter/3)*2;

	@each $col in $cols {
		@for $i from 1 through $col {
			.size#{$i}of#{$col} {
				width: percentage($i/$col);
				$spanned-gutters: $i - 1;
				*width: percentage($i/$col)-$ie-percent-gutter + $spanned-gutters*$ie-percent-gutter; /* IE7- width = normal width - gutter width + spanned gutters width */
			}
		}
	}
	.line{
		@include clearfix-me;
		
		.unit{ 
			float:left;
			zoom:1;
			@if $gutter {
				@include box-sizing(border-box); /*IE8+*/
				padding: 0 $large-gutter 0 $small-gutter;
				*padding: 0; /* IE7- */
				*margin: 0 $ie-percent-gutter/2; /* IE7- */
			}

			&.lastUnit, &:last-child{ /* for IE8- you must put a class .lastUnit on the final unit in a line */
				@include clearfix-me;
				float: none;
				width: auto !important;
				_position: relative;
				_left: -3px;
				_margin-right: -3px;
				@if $gutter {
					padding: 0 0 0 $small-gutter;
					*padding: 0 0 0 $large-gutter+5;/* IE7- */
					*margin: 0;/* IE7- */
					//*margin: 0 0 0 $ie-percent-gutter*30;
				}
			}
			@if $gutter {
				&.firstUnit, &:first-child{ /* for IE7- you must put a class .firstUnit on the first unit in a line */
					padding: 0 $large-gutter 0 0;
					*padding: 0;/* IE7- */
					*margin: 0 $ie-percent-gutter/2 0 0;/* IE7- */
					//*margin: 0;
				}
			}
		}
		.unitExt { // TODO: handle case where there are two (or more) unitExt in a line.
			float:right;
			zoom:1;
			@if $gutter {
				padding: 0 0 0 $large-gutter;
				*padding: 0;/* IE7- */
				*margin: 0 0 0 $ie-percent-gutter;/* IE7- */
			}
		}
		@if $gutter {
			.unitExt ~ .unit:last-child, 
			.unitExt ~ .unitExt{ /*IE7+*/
				padding: 0 $small-gutter;
				*padding: 0; // what should happen for IE7 here?
			}
		}
		.unit:nth-last-child(2) { /* IE9+ - TODO: fix IE8 */
			//border: 10px solid red;
			//padding-right: $small-gutter + $small-gutter/2;
		}
		.unit:first-child:last-child {
			padding:0 ;
		}
	}
}

@if $grids-debug {
	.unit:before {
		content: "unit";
		display:block;
		min-height: 40px;
		line-height: 40px;
		background-color: #EEE;
		text-align: center;
		border-radius: 3px;
	}
	// .line {margin: 20px 0;}
}

@if $grids-debug-position {
	.line{background-color: #e2e2e2;}
	.unit{background-color:#da0000; border-radius: 7px;}
	.unit:first-child{background-color:green;}
	.unit:first-child, .firstUnit{background-color:blue;}
	.unitExt ~ [class*=size]:last-child,.lastUnit{background-color:purple;}
	.unitExt ~ .unitExt{ background-color: gray;}
}

// if gutters were true they would need to be % based, so you would need to know page width
// e.g. 15px gutters / 960px page width = 0.015625 or 1.5625%

// or have them be pixel based and set padding box thingy