/* **************** TEMPLATE DEBUG ***************** */
.body{background-color:red;}
.page{background-color:orange;}
.main{background-color:yellow;}
.leftCol{background-color:lime;}
.rightCol{background-color:aqua;}