/* **************** TEMPLATE DEBUG ***************** */
.oo-body{background-color:red;}
.oo-page{background-color:orange;}
.oo-main{background-color:yellow;}
.oo-leftCol{background-color:lime;}
.oo-rightCol{background-color:aqua;}