<!DOCTYPE html>
<html>
<head>
    <title>{{library title}}</title>
</head>
<body>

<h1>The Components</h1>
{{#list components}}
    <div class="thedocfile">
        {{this}}
    </div>
{{/list}}
</body>
</html>