
/* colors */
$typeColor: #333;

/* neutrals */
//warm neutrals
//blue neutrals
//gray neutrals


/* typography */
$baseLineHeight: 1.5em !default; //must be in em
$baseFontSize: 15px !default; // must be px
$baseFontFamily: Georgia, "Times New Roman", Times, serif;

/* 
 * em-ratio	converts between em and px
 * to em 	divide by this ratio
 * to px 	mulitply by this ratio
 */
$emRatio: $baseFontSize/$baseLineHeight; 

/* whitespace */
$guttersH: 15px;
$guttersV: $baseLineHeight/2em*1rem; // set top and bottom margins to half the base line height so that the total takes up one row of vertical rhythm.
$spacingHelpers: ($emRatio*$baseLineHeight/3, $emRatio*$baseLineHeight/2, $emRatio*$baseLineHeight); //TODO: convert to px;

/* grids */
$breakPoints: (); // can be pixel values or if only one value, break points will be made at that increment. (not for now)
$mobileFirst: true;


/* layout */
$pageWidth: 988px;
body{ // TODO: move to a template file.
    width: $pageWidth;
    margin: 0 auto;
}