<h5>Range</h5>
<p>
  Use <code>fieldRange</code> on <code>ul</code>
  if you want to have form fields to indicate a range. Use grid column classes (<code>cols&lt;n&gt;of12</code>) to achieve different widths.
</p>

{{#each skins}}
  {{{html}}}
{{/each}}