<div class="box {{classname}}">
    <div class="boxHead">
        <h3 class="boxHeading">{{title}}</h3>
    </div>
    <div class="boxBody">
        <p>{{body}}</p>
    </div>
    <div class="boxFoot">
        <p>boxFoot</p>
    </div>
</div>