<p>Some text about the box</p>
<ul>
    {{#each skins}}
    <li>
        {{{this}}}

        <p>code :</p>
        <pre><code>
            {{this}}
        </code></pre>

    </li>
    {{/each}}
</ul>
