/* Font colors should be as abstract as possible.
 * This allows us using any skins we like without modifying classes
 * Use .firm class for unique color of the project (like orange in my example)
 * Use .positive, .negative to style only relative information (like system messages or feedback, etc)
 */
.bare {
  color: #bbb;
}

.pale {
  color: #999;
}

.neutral {
  color: #666;
}

.opaque {
  color: #333;
}

.sharp {
  color: #000;
}

.contrast {
  color: #fff;
}

.firm {
  color: #fc6c06;
}

.positive {
  color: #73ab00;
}

.negative {
  color: #c20000;
}
