<h3>{{longname}}</h3>

<p>
  Box Footers are a way to separate content at the bottom of a box from the rest of the content.
</p>

<ul class="listComponent">
  {{#each skins}}
    <li>
      {{{html}}}
      {{{htmlcode}}}
    </li>
  {{/each}}
</ul>