<div class="line">
  {{#repeat 4}}
    <div class="col cols2of12">
    </div>
  {{/repeat}}
  <div class="col lastCol">
  </div>
</div>

<div class="line">
  {{#repeat 1}}
    <div class="col cols4of12">
    </div>
  {{/repeat}}
  <div class="col lastCol">
  </div>
</div>

<div class="line">
  <div class="col cols8of12">
  </div>
  <div class="col lastCol">
  </div>
</div>

<div class="line">
  <div class="col lastCol">
  </div>
</div>