<div class="line">
  <div class="col cols8of12 lgCols6of12 medCols4of12 smCols12of12">
  </div>
  <div class="col lastCol">
  </div>
</div>

<h3 class="docH3">Using <code>medExpand</code> to expand columns</h3>

<div class="line medExpand">
  <div class="col cols6of12">
  </div>
  <div class="col lastCol">
  </div>
</div>

<h3 class="docH3">Using <code>medHide</code> and <code>smShow</code> to hide and show an element</h3>

<div class="medHide smShow">
  <img src="http://placehold.it/200x200" width="200" height="200">
</div>
