// ==========================================================================
   Helper classes - adapted from HTML5 Boilerplate
   ========================================================================== //

/* Image replacement */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px; /* IE 6/7 fallback */
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/* Hide from both screenreaders and browsers */
.hideFully {
    display: none !important;
    visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders */
.hideVisually {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard */
.hideVisually.focusable:active,
.hideVisually.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* Hide visually and from screenreaders, but maintain layout*/
.hidePartially {
    visibility: hidden;
}