/* ==========================================================================
   Image Replacement
   ========================================================================== */

/**
* @desc         Image replcaement technique. Taken from HTML5 Boilerplate.
* @name         imageReplacement
* @author       Fiona
* @tested       IE6-9, Firefox, Chrome, Safari
* @requires     N/A
*/

@mixin ooImageReplacement() {
    .ir {
        background-color: transparent;
        border: 0;
        overflow: hidden;
        *text-indent: -9999px; /* IE 6/7 fallback */
    }
}