<h2 id="{{name}}" class="docH2">{{longname}}</h2>

<p>Use these classes sparingly.</p>

<h3>Horizontal Text Alignment</h3>
<div class="data codeTable">
  <table>
    <tr>
      <th scope="row"><code>txtL</code></th>
      <td>Align text left</td>
    </tr>
    <tr>
      <th scope="row"><code>txtC</code></th>
      <td>Align text center</td>
    </tr>
    <tr>
      <th scope="row"><code>txtR</code></th>
      <td>Align text right</td>
    </tr>
  </table>
</div>

<h3>Vertical Text Alignment</h3>
<div class="data codeTable">
  <table>
    <tr>
      <th scope="row"><code>txtT</code></th>
      <td>Align text top</td>
    </tr>
    <tr>
      <th scope="row"><code>txtB</code></th>
      <td>Align text bottom</td>
    </tr>
    <tr>
      <th scope="row"><code>txtM</code></th>
      <td>Align text middle</td>
    </tr>
  </table>
</div>

<h3>Hiding Things</h3>
<div class="data codeTable">
  <table>
    <tr>
      <th scope="row"><code>hideText</code></th>
      <td>Hides only text of an element.</td>
    </tr>
    <tr>
      <th scope="row"><code>hideFully</code></th>
      <td>Hides content both visually and from screen readers.</td>
    </tr>
    <tr>
      <th scope="row"><code>hideVisually</code></th>
      <td>Hides content visually but allow screen reader to read it.</td>
    </tr>
    <tr>
      <th scope="row"><code>hideVisually.focusable</code></th>
      <td>Hide content visually but can be focused on e.g. used on skip link.</td>
    </tr>
  </table>
</div>
