/* 
 * clearfix 		used project wide to clear floats and create a new formatting context
 * usage			@include clearfix-me(<empty|overflow|facebook|micro|stubborn>)
 * $clearfix-method	sets default method
 */
/* colors */
/* neutrals */
/* typography */
/* 
 * em-ratio	converts between em and px
 * to em 	divide by this ratio
 * to px 	mulitply by this ratio
 */
/* whitespace */
/* grids */
/* layout */
/* line 35, ../../variables.scss */
body {
  width: 988px;
  margin: 0 auto;
}

/* line 92, ../../grid/grid.scss */
.unit:before {
  content: "unit";
  display: block;
  min-height: 40px;
  line-height: 40px;
  background-color: #EEE;
  text-align: center;
  border-radius: 3px;
}

/* add any fixed widths for columns here */
/*navCol{width: 150px;}
*/
