<h3>{{longname}}</h3>

<p>
  Box Headers are a way to separate a small amount of content at the top of a box (usually a header) from the rest of
  the content.
</p>

<ul class="listComponent">
  {{#each skins}}
    <li>
      {{{html}}}
      {{{htmlcode}}}
    </li>
  {{/each}}
</ul>