/** 
 * Spacing classes 
 * Should be used to modify the default spacing between objects (not between nodes of the same object)
 * Please use judiciously. You want to be using defaults most of the time, these are exceptions! 
 * <type><location><size>
 */
 /* ====== Default spacing ====== */
h1, h2, h3, h4, h5, h6, ul, ol,dl, p,blockquote, .media {margin:10px;}
h1, h2, h3, h4, h5, h6,img{padding-bottom:0px;}
pre{margin: 10px;}
table h1,table h2,table h3, table h4, table h5, table h6, table p, table ul, table ol, table dl{padding:0;}
 
/* spacing helpers
p,m = padding,margin
a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
s,m,l,n = small(5px),medium(10px),large(20px),none(0px)
*/

.ptn,.pvn,.pan{padding-top:0px}
.pts,.pvs,.pas{padding-top:5px}
.ptm,.pvm,.pam{padding-top:10px}
.ptl,.pvl,.pal{padding-top:20px}
.prn,.phn,.pan{padding-right:0px}
.prs,.phs,.pas{padding-right:5px}
.prm,.phm,.pam{padding-right:10px}
.prl,.phl,.pal{padding-right:20px}
.pbn,.pvn,.pan{padding-bottom:0px}  
.pbs,.pvs,.pas{padding-bottom:5px}
.pbm,.pvm,.pam{padding-bottom:10px}
.pbl,.pvl,.pal{padding-bottom:20px}
.pln,.phn,.pan{padding-left:0px}
.pls,.phs,.pas{padding-left:5px}
.plm,.phm,.pam{padding-left:10px}
.pll,.phl,.pal{padding-left:20px}
.mtn,.mvn,.man{margin-top:0px}
.mts,.mvs,.mas{margin-top:5px}
.mtm,.mvm,.mam{margin-top:10px}
.mtl,.mvl,.mal{margin-top:20px}
.mrn,.mhn,.man{margin-right:0px}
.mrs,.mhs,.mas{margin-right:5px}
.mrm,.mhm,.mam{margin-right:10px}
.mrl,.mhl,.mal{margin-right:20px}
.mbn,.mvn,.man{margin-bottom:0px}  
.mbs,.mvs,.mas{margin-bottom:5px}
.mbm,.mvm,.mam{margin-bottom:10px}
.mbl,.mvl,.mal{margin-bottom:20px}
.mln,.mhn,.man{margin-left:0px}
.mls,.mhs,.mas{margin-left:5px}
.mlm,.mhm,.mam{margin-left:10px}
.mll,.mhl,.mal{margin-left:20px}
