/* grids debug */
.oo-line{background-color:#e2e2e2;}
.oo-size1of1{background-color:pink;}
.oo-size1of2{background-color:red;}
.oo-size1of3{background-color:orange;}
.oo-size2of3{background-color: yellow;}
.oo-size1of4{background-color:lime;}
.oo-size3of4{background-color:green;}
.oo-size1of5{background-color:aqua;}
.oo-size2of5{background-color:blue;}
.oo-size3of5{background-color:purple;}
.oo-size4of5{background-color:magenta;}