.line:after,.lastUnit:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";}
.line{*zoom:1;}
.unit{float:left;}
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.prependSize1of2{padding-left:50%;}
.prependSize1of3{padding-left:33.33333%;}
.prependSize2of3{padding-left:66.66666%;}
.prependSize1of4{padding-left:25%;}
.prependSize3of4{padding-left:75%;}
.prependSize1of5{padding-left:20%;}
.prependSize2of5{padding-left:40%;}
.prependSize3of5{padding-left:60%;}
.prependSize4of5{padding-left:80%;}
.appendSize1of2{padding-right:50%;}
.appendSize1of3{padding-right:33.33333%;}
.appendSize2of3{padding-right:66.66666%;}
.appendSize1of4{padding-right:25%;}
.appendSize3of4{padding-right:75%;}
.appendSize1of5{padding-right:20%;}
.appendSize2of5{padding-right:40%;}
.appendSize3of5{padding-right:60%;}
.appendSize4of5{padding-right:80%;}
.lastUnit{display:table-cell;float:none;width:auto;*display:block;*zoom:1;_position:relative;_left:-3px;_margin-right:-3px;}
