.oo-line:after,.lastUnit:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";}
.oo-line{*zoom:1;}
.oo-unit{float:left;}
.oo-size1of1{float:none;}
.oo-size1of2{width:50%;}
.oo-size1of3{width:33.33333%;}
.oo-size2of3{width:66.66666%;}
.oo-size1of4{width:25%;}
.oo-size3of4{width:75%;}
.oo-size1of5{width:20%;}
.oo-size2of5{width:40%;}
.oo-size3of5{width:60%;}
.oo-size4of5{width:80%;}
.oo-lastUnit{display:table-cell;float:none;width:auto;*display:block;*zoom:1;_position:relative;_left:-3px;_margin-right:-3px;}
