/** 
 * Data Table 
 * Allows you to align various table cells so that the alignment class can be placed on either the table, table row, or table cell 
 * Cell takes precedence over table row and table
 * Table row takes precedence over table
 */
.oo-data{position:relative; zoom:1;vertical-align: top;text-align: left; /*border-right:solid 1px transparent;*//* border fixes a FF2 bug which causes the data table to overlay its borders*/}
.oo-data table {width:100%; table-layout:fixed;}
th, td{/*vertical-align:top;*/}
/* horizontal alignment */
.oo-txtC, table .oo-txtC td, table .oo-txtC th, .oo-data .oo-txtC th, .oo-data .oo-txtC td{text-align:center;}
.oo-txtL, table .oo-txtL td, table .oo-txtL th, .oo-data .oo-txtL th, .oo-data .oo-txtL td{text-align:left;}
.oo-txtR, table .oo-txtR td, table .oo-txtR th, .oo-data .oo-txtR th, .oo-data .oo-txtR td{text-align:right;}
/* vertical alignment */
.oo-txtT, table .oo-txtT td, table .oo-txtT th, .oo-data .oo-txtT th, .oo-data .oo-txtT td{vertical-align:top;}
.oo-txtB, table .oo-txtB td, table .oo-txtB th, .oo-data .oo-txtB th, .oo-data .oo-txtB td{vertical-align:bottom;}
.oo-txtM, table .oo-txtM td, table .oo-txtM th, .oo-data .oo-txtM th, .oo-data .oo-txtM td{vertical-align:middle;}
.oo-data th,.oo-data td{padding:3px 20px}
