/** 
 * Data Table 
 * Allows you to align various table cells so that the alignment class can be placed on either the table, table row, or table cell 
 * Cell takes precedence over table row and table
 * Table row takes precedence over table
 */
.data{position:relative; zoom:1;vertical-align: top;text-align: left; /*border-right:solid 1px transparent;*//* border fixes a FF2 bug which causes the data table to overlay its borders*/}
.data table {width:100%; table-layout:fixed;}
th, td{/*vertical-align:top;*/}
/* horizontal alignment */
.txtC, table .txtC, table tr .txtC{text-align:center;}
.txtL, table .txtL, table tr .txtL{text-align:left;}
.txtR, table .txtR, table tr .txtR{text-align:right;}
/* vertical alignment */
.txtT, table .txtT, table tr .txtT{vertical-align:top;}
.txtB, table .txtB, table tr .txtB{vertical-align:bottom;}
.txtM, table .txtM, table tr .txtM{vertical-align:middle;}
.data th,.data td{padding:3px 20px}
