/* simple table @extends data table */
.oo-simpleTable{padding: 20px;/* doesn't this break stuff??? ok for win & mac on Safari, FF, chrome, opera.oo- OK on IE6/7/8.oo-   */ }
.oo-simpleTable table{border:1px solid #AE0345;}
.oo-simpleTable th, .oo-simpleTable td{border:1px solid #AE0345;}
.oo-simpleTable thead tr{background-color: #fff0f8;}
.oo-simpleTable th{color: #000; font-weight:bold}
/* specification table @extends data table */
.oo-spec{padding:10px;}
.oo-spec table{border-top: 1px solid #e2e2e2; border-bottom-color:#fff; border-left:none; border-right:none;}
.oo-spec th, .oo-spec td{border:1px solid #e2e2e2; border-width: 1px 0; padding-left:0;}
.oo-spec .oo-odd, .oo-spec .oo-even{background-color: #fff;}
