/* ====== media (requires mod.css) ====== */
.media{margin: 10px;}
.media:after, .bd:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";}
.media .bd{display:table-cell; zoom:1;}
.media .bd > :first-child{margin-top:0;}
.media .bd > :last-child{margin-bottom:0;}
.media .img{float:left;/*margin-right: 10px;*/}
.media .img img{display:block;}
.media .imgExt{float:right; /*margin-left: 10px;*/}
