/* ====== media (requires mod.oo-css) ====== */
.oo-media{margin: 10px;}
.oo-media:after, .oo-bd:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";}
.oo-media .oo-bd{display:table-cell; zoom:1;}
.oo-media .oo-bd > :first-child{margin-top:0;}
.oo-media .oo-bd > :last-child{margin-bottom:0;}
.oo-media .oo-img{float:left;/*margin-right: 10px;*/}
.oo-media .oo-img img{display:block;}
.oo-media .oo-imgExt{float:right; /*margin-left: 10px;*/}
