<!DOCTYPE html>
<html>
<head>
    <title>{{name}}</title>
</head>
<body>
<header>The header</header>
<h1>the Menu</h1>

<div id="thecontent">
    {{content}}
</div>

<footer>The footer</footer>
</body>
</html>