@mixin ooVideo(){
    /* thierry's method for embedding video w out it blowing up the page */
    .videoWrap {
        position:relative;
        height: 0;
    }
    * html .videoWrap {
        margin-bottom: 45px;
        margin-bot\tom: 0;
    }
    .videoWrap { 
        div, 
        embed, 
        object, 
        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
    }
    /* making it so images don't bust open grids */
    // TODO: fix it so the height to width ratio is right even when height and width are explicitly set in the HTML
    // TODO: break images and video stuff into separate files
    .imgWrap img {
        max-width: 100%;
    }
    .wideScreen {
        padding-bottom:56.25%;
    }
    .fourBYthree {
        padding-bottom:75%;
    }
    .chrome_25 {
        padding-top:25px;
    }
    .chrome_35 {
        padding-top:35px;
    }

    // TODO: make examples or copy from Theirry's article

}

