<div class="dropdown {{classname}}">
  <a class="dropdownTrigger" href="/">Rent</a>
  <div class="dropdownBox">
    <ul>
      <li><a href="#">San Francisco Apartments for Rent</a></li>
      <li><a href="#">San Francisco Apartments</a></li>
      <li><a href="#">San Francisco Apartments for Rent</a></li>
    </ul>
  </div>
</div>

<script src="/script/dropdown.js"></script>