<!DOCTYPE html>
<html class="no-js">
<head>
    <title>{{name}}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/screen.css">
    <link rel="stylesheet" media="print" href="/css/print.css">

    <script>(function (H) {H.className = H.className.replace(/\bno-js\b/, 'js')})(document.documentElement)</script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
</head>
<body>
<header>The header</header>
<h1>the Menu</h1>

<div id="thecontent">
    {{{content}}}
</div>

<footer>The footer</footer>
</body>
</html>