<!DOCTYPE html>
<html>
<head>
    <title>{{name}}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/screen.css">
    <link rel="stylesheet" media="print" href="../css/print.css">
</head>
<body>
<header>The header</header>
<h1>the Menu</h1>

<div id="thecontent">
    {{{content}}}
</div>

<footer>The footer</footer>
</body>
</html>