<!DOCTYPE html>
<html>
<head>
    <title>Oocss library</title>
</head>
<body>

<h1>The Components</h1>
{{#each components}}
    <div class="thedocfile">
        {{{this}}}
    </div>
{{/each}}
</body>
</html>