<!DOCTYPE html>
<html>
<head>
    <title>Oocss library</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/screen.css">
    <link rel="stylesheet" media="print" href="../css/print.css">
</head>
<body>

<h1>The Components</h1>
{{#each components}}
    <div class="thedocfile">
        {{{this}}}
    </div>
{{/each}}
</body>
</html>