/**
* @desc         Aligning text
* @name         textAlign
* @author       
* @tested       
* @requires     
*/

// horizontal alignment
.txtC {
  text-align: center;
}

.txtL {
  text-align: left;
}

.txtR {
  text-align: right;
}

// vertical alignment
.txtT {
  vertical-align: top;
}

.txtB {
  vertical-align: bottom;
}

.txtM {
  vertical-align: middle;
}
