/* **************** TALK BUBBLE ***************** */
.bubble {position: relative;}
.bubble:after, .bubble:before {border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;}

/* top & bottom */
.bubbleTop:after, .bubbleTop:before {bottom:100%; left:10%;}
.bubbleBottom:after, .bubbleBottom:before {top: 100%; left:10%;}
.bubbleTop:after, .bubbleBottom:after {border-width: 10px; margin-left: -10px;}
.bubbleTop:before, .bubbleBottom:before {border-width: 14px; margin-left: -14px;}

/*left & right*/
.bubbleLeft:after, .bubbleLeft:before {right: 100%; top: 10%;}
.bubbleRight:after, .bubbleRight:before { left: 100%; top: 10%;}
.bubbleLeft:after, .bubbleRight:after {border-width: 10px; margin-top: -10px;}
.bubbleLeft:before, .bubbleRight:before {border-width: 14px; margin-top: -14px;}

/* horizMid & horizExt - extend bubbleTop and bubbleBottom */
.horizMid:after, .horizMid:before {left: 50%;}
.horizExt:after, .horizExt:before {left: 90%;}
/* vertMid & vertExt - extend bubbleRight and bubbleLeft */
.vertMid:before, .vertMid:after {top: 50%;}
.vertExt:before, .vertExt:after{top: 90%;}